@{
    ViewBag.Title = "ContraceptiveAndMaternityMeasures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <h2 class="text-center">Bảng mã BPTT và thai sản</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/ContraceptiveAndMaternityMeasures-0.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/ContraceptiveAndMaternityMeasures-1.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/ContraceptiveAndMaternityMeasures-3.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/ContraceptiveAndMaternityMeasures-4.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
</div>