@{
    ViewBag.Title = "EducationLevelComparisonTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office"
      xmlns:w="urn:schemas-microsoft-com:office:word"
      xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
      xmlns="http://www.w3.org/TR/REC-html40">

<head>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=ProgId content=Word.Document>
    <meta name=Generator content="Microsoft Word 15">
    <meta name=Originator content="Microsoft Word 15">
    <link rel=File-List href="EducationLevelComparisonTable_files/filelist.xml">

    <link rel=dataStoreItem href="EducationLevelComparisonTable_files/item0001.xml"
          target="EducationLevelComparisonTable_files/props002.xml">
    <link rel=themeData href="EducationLevelComparisonTable_files/themedata.thmx">
    <link rel=colorSchemeMapping
          href="EducationLevelComparisonTable_files/colorschememapping.xml">
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

    <div class=WordSection1>

        <p class=MsoNormal align=center style='margin-bottom:6.0pt;text-align:center;
line-height:18.0pt;mso-line-height-rule:exactly;mso-outline-level:1'>
            <b style='mso-bidi-font-weight:normal'>
                <span style='font-family:"Times New Roman Bold",serif;
text-transform:uppercase;mso-no-proof:yes'>
                    B&#7842;ng chuy&#7874;n
                    &#273;&#7892;i trình &#273;&#7896; H&#7896;C V&#7844;N ph&#7892; thông<o:p></o:p>
                </span>
            </b>
        </p>

        <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width=948
               style='width:710.8pt;border-collapse:collapse;border:none;mso-border-alt:solid windowtext .5pt;
 mso-padding-alt:0in 1.4pt 0in 1.4pt;mso-border-insideh:.5pt solid windowtext;
 mso-border-insidev:.5pt solid windowtext'>
            <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;page-break-inside:avoid;
  height:14.8pt'>
                <td width=82 rowspan=4 style='width:61.3pt;border-top:double windowtext 1.5pt;
  border-left:double windowtext 1.5pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:double windowtext 1.5pt;mso-border-left-alt:double windowtext 1.5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:14.8pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            C&#7845;p h&#7885;c <br>
                            &#273;&#7875; t&#7893;ng h&#7907;p<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=61 rowspan=4 style='width:45.85pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:double windowtext 1.5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:14.8pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            Các l&#7899;p <br>
                            ph&#7893; thông <br>
                            hi&#7879;n t&#7841;i<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=805 colspan=9 style='width:603.65pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:double 1.5pt;
  mso-border-left-alt:solid .5pt;mso-border-bottom-alt:solid .5pt;mso-border-right-alt:
  double 1.5pt;mso-border-color-alt:windowtext;padding:0in 1.4pt 0in 1.4pt;
  height:14.8pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            H&#7879; th&#7889;ng trình &#273;&#7897; giáo
                            d&#7909;c ph&#7893; thông t&#432;&#417;ng &#273;&#432;&#417;ng<o:p></o:p>
                        </span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:1;page-break-inside:avoid;height:21.4pt'>
                <td width=164 rowspan=3 style='width:122.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:21.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>H&#7879; th&#7889;ng th&#7901;i Pháp thu&#7897;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=277 colspan=3 style='width:207.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:21.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>T&#7915; 1945 &#273;&#7871;n 1954<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 rowspan=3 style='width:60.35pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:21.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            H&#7879; th&#7889;ng <br>
                            b&#7893; t&#7913;c <br>
                            v&#259;n hoá<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=206 colspan=3 style='width:154.3pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:21.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>Giáo d&#7909;c ph&#7893; thông mi&#7873;n B&#7855;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 rowspan=3 style='width:58.25pt;border:none;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.4pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            Mi&#7873;n Nam và mi&#7873;n B&#7855;c t&#7915; 1989
                            &#273;&#7871;n nay<o:p></o:p>
                        </span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:2;page-break-inside:avoid;height:4.85pt'>
                <td width=161 colspan=2 style='width:120.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>Vùng t&#7921; do<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 rowspan=2 style='width:87.2pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>Vùng t&#7841;m chi&#7871;m<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 rowspan=2 style='width:46.95pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>Tr&#432;&#7899;c 1981<o:p></o:p></span>
                    </p>
                </td>
                <td width=143 colspan=2 style='width:107.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>T&#7915; Hà T&#297;nh tr&#7903; ra<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:3;page-break-inside:avoid;height:4.85pt'>
                <td width=98 style='width:73.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>1945-1950<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 style='width:47.0pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>1950-54<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 style='width:46.95pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>1981-86<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 style='width:60.45pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>1986-89<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:4;page-break-inside:avoid;height:12.5pt'>
                <td width=82 rowspan=5 valign=top style='width:61.3pt;border-top:double windowtext 1.5pt;
  border-left:double windowtext 1.5pt;border-bottom:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:double windowtext 1.5pt;mso-border-left-alt:double windowtext 1.5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>Ti&#7875;u h&#7885;c (c&#7845;p I)<o:p></o:p></span>
                    </p>
                </td>
                <td width=61 valign=top style='width:45.85pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5 &#273;&#7891;ng &#7845;u<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;background:#DFDFDF;mso-shading:
  windowtext;mso-pattern:gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;background:#DFDFDF;mso-shading:
  windowtext;mso-pattern:gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5 ti&#7875;u h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>D&#7921; b&#7883; BTVH<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>V&#7905; lòng<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:double 1.5pt;
  mso-border-left-alt:solid .5pt;mso-border-bottom-alt:solid .5pt;mso-border-right-alt:
  double 1.5pt;mso-border-color-alt:windowtext;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:5;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p t&#432;<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p t&#432; ti&#7875;u h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 1<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:6;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            L&#7899;p 3<br>
                            (&#273;&#7853;u s&#417; h&#7885;c y&#7871;u l&#432;&#7907;c)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p ba<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p ba ti&#7875;u h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 2<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:7;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            L&#7899;p nhì n&#259;m th&#7913; nh&#7845;t<br>
                            L&#7899;p nhì n&#259;m th&#7913; hai<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p nhì<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p nhì ti&#7875;u h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 3<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:8;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            L&#7899;p nh&#7845;t (&#273;&#7853;u ti&#7875;u
                            h&#7885;c)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p nh&#7845;t<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p nh&#7845;t ti&#7875;u h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 4<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border:none;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:9;page-break-inside:avoid;height:12.5pt'>
                <td width=82 rowspan=4 valign=top style='width:61.3pt;border:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;mso-border-alt:double windowtext 1.5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            Trung h&#7885;c <br>
                            c&#417; s&#7903; <br>
                            (c&#7845;p II)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=61 valign=top style='width:45.85pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 6<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7845;t niên trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7845;t niên<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; th&#7845;t trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;background:#DFDFDF;mso-shading:
  windowtext;mso-pattern:gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:double windowtext 1.5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  background:#DFDFDF;mso-shading:windowtext;mso-pattern:gray-125 auto;
  padding:0in 1.4pt 0in 1.4pt;height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-top-alt:double windowtext 1.5pt;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 6<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:double windowtext 1.5pt;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-top-alt:double 1.5pt;
  mso-border-left-alt:solid .5pt;mso-border-bottom-alt:solid .5pt;mso-border-right-alt:
  double 1.5pt;mso-border-color-alt:windowtext;padding:0in 1.4pt 0in 1.4pt;
  height:12.5pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 6<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:10;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 7<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7883; niên trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7883; niên<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; l&#7909;c trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 6<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 5<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border:solid windowtext 1.0pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;mso-border-alt:
  solid windowtext .5pt;background:#DFDFDF;mso-shading:windowtext;mso-pattern:
  gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 7<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 7<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:11;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 8<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; tam niên trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; tam niên<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 6<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; ng&#361; trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 7 A<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            L&#7899;p 6 <br>
                            L&#7899;p 7<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            L&#7899;p 6 <br>
                            L&#7899;p 7<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;
  height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 8<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 8<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:12;page-break-inside:avoid;height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 9<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; t&#7913; niên trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; t&#7913; niên<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 7<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; t&#7913; trung h&#7885;c<o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 7 B<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:double windowtext 1.5pt;background:#DFDFDF;mso-shading:
  windowtext;mso-pattern:gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:double windowtext 1.5pt;background:#DFDFDF;mso-shading:
  windowtext;mso-pattern:gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:solid windowtext 1.0pt;
  border-left:none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-alt:solid windowtext .5pt;
  mso-border-bottom-alt:double windowtext 1.5pt;background:#DFDFDF;mso-shading:
  windowtext;mso-pattern:gray-125 auto;padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'><o:p>&nbsp;</o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 9<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:13;page-break-inside:avoid;height:21.05pt'>
                <td width=82 rowspan=3 valign=top style='width:61.3pt;border-top:none;
  border-left:double windowtext 1.5pt;border-bottom:double windowtext 1.5pt;
  border-right:solid windowtext 1.0pt;mso-border-left-alt:double windowtext 1.5pt;
  mso-border-bottom-alt:double windowtext 1.5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            Trung <br>
                            h&#7885;c ph&#7893; thông <o:p></o:p>
                        </span>
                    </p>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>(c&#7845;p III)<o:p></o:p></span>
                    </p>
                </td>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            &#272;&#7879; nh&#7845;t niên <br>
                            (thi tú tài ph&#7847;n th&#7913; nh&#7845;t<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            &#272;&#7879; nh&#7845;t niên <br>
                            chuyên khoa<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 8<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; tam niên <o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 8<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 8<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-left-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:21.05pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:14;page-break-inside:avoid;height:17.55pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 11<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7883; niên<o:p></o:p></span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7883; niên chuyên khoa<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 9<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>&#272;&#7879; nh&#7883; niên <o:p></o:p></span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            L&#7899;p 9<br>
                            L&#7899;p 10 A<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 9<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 11<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 11<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-right-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:17.55pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 11<o:p></o:p></span>
                    </p>
                </td>
            </tr>
            <tr style='mso-yfti-irow:15;mso-yfti-lastrow:yes;page-break-inside:avoid;
  height:4.85pt'>
                <td width=61 valign=top style='width:45.85pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 12<o:p></o:p></span>
                    </p>
                </td>
                <td width=164 valign=top style='width:122.75pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            &#272;&#7879; tam niên <br>
                            (thi tú tài toàn ph&#7847;n)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=98 valign=top style='width:73.75pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            &#272;&#7879; tam niên <br>
                            chuyên khoa<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=63 valign=top style='width:47.0pt;border-top:none;border-left:none;
  border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10<o:p></o:p></span>
                    </p>
                </td>
                <td width=116 valign=top style='width:87.2pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>
                            &#272;&#7879; nh&#7845;t niên <br>
                            (thi b&#7857;ng trung h&#7885;c &#273;&#7879; nh&#7883; c&#7845;p)<o:p></o:p>
                        </span>
                    </p>
                </td>
                <td width=80 valign=top style='width:60.35pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10 B<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 10<o:p></o:p></span>
                    </p>
                </td>
                <td width=63 valign=top style='width:46.95pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 12<o:p></o:p></span>
                    </p>
                </td>
                <td width=81 valign=top style='width:60.45pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  mso-border-alt:solid windowtext .5pt;mso-border-bottom-alt:double windowtext 1.5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 12<o:p></o:p></span>
                    </p>
                </td>
                <td width=78 valign=top style='width:58.25pt;border-top:none;border-left:
  none;border-bottom:double windowtext 1.5pt;border-right:double windowtext 1.5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0in 1.4pt 0in 1.4pt;height:4.85pt'>
                    <p class=MsoNormal align=center style='text-align:center'>
                        <span style='font-size:12.0pt'>L&#7899;p 12<o:p></o:p></span>
                    </p>
                </td>
            </tr>
        </table>

        <p class=MsoNormal style='margin-top:6.0pt;text-align:justify;text-indent:.5in;
line-height:110%'>
            <span lang=ES style='mso-bidi-font-size:14.0pt;line-height:
110%;mso-ansi-language:ES'><o:p>&nbsp;</o:p></span>
        </p>
    </div>