@{
    ViewBag.Title = "EthnicList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <h2 class="text-center">Danh mục dân tộc</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/EthnicList.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
</div>