@{
    ViewBag.Title = "YearlyCompare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12">
            <h2 class="text-center">So sánh năm</h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-0.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-1.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-2.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-3.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-4.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-5.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-6.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-7.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-8.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-9.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-10.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-11.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-12.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-13.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-14.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-15.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-16.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-17.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-18.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-19.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-20.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-21.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-22.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-23.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-24.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-25.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-26.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-27.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 centered-image">
            <img src="~/Images/YearlyCompare-28.jpg" class="img-fluid" alt="Captured Image">
        </div>
    </div>
</div>